In [1]:
import math
# import pandas_datareader as web
import tushare as ts
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
pro = ts.pro_api()

In [3]:
model = Sequential()
model.add(Dense(1))

In [4]:
model.compile(optimizer='sgd', loss="mean_squared_error")

In [5]:
xs = np.array([-1.0, 0.0, 1.0, 2.0, 3.0, 4.0], dtype=float)
ys = np.array([-3.0, -1.0, 1.0, 3.0, 5.0, 7.0], dtype=float)

In [7]:
model.fit(xs, ys, epochs=500)

Epoch 1/500
1/1 [==============================] - 0s 2ms/step - loss: 58.9631
Epoch 2/500
1/1 [==============================] - 0s 997us/step - loss: 46.8167
Epoch 3/500
1/1 [==============================] - 0s 999us/step - loss: 37.2518
Epoch 4/500
1/1 [==============================] - 0s 998us/step - loss: 29.7179
Epoch 5/500
1/1 [==============================] - 0s 2ms/step - loss: 23.7823
Epoch 6/500
1/1 [==============================] - 0s 0s/step - loss: 19.1041
Epoch 7/500
1/1 [==============================] - 0s 998us/step - loss: 15.4155
Epoch 8/500
1/1 [==============================] - 0s 997us/step - loss: 12.5055
Epoch 9/500
1/1 [==============================] - 0s 999us/step - loss: 10.2084
Epoch 10/500
1/1 [==============================] - 0s 996us/step - loss: 8.3935
Epoch 11/500
1/1 [==============================] - 0s 997us/step - loss: 6.9582
Epoch 12/500
1/1 [==============================] - 0s 999us/step - loss: 5.8217
Epoch 13/500
1/1 [==============================] - 0s 999us/step - loss: 4.9204
Epoch 14/500
1/1 [==============================] - 0s 2ms/step - loss: 4.2043
Epoch 15/500
1/1 [==============================] - 0s 3ms/step - loss: 3.6341
Epoch 16/500
1/1 [==============================] - 0s 997us/step - loss: 3.1788
Epoch 17/500
1/1 [==============================] - 0s 997us/step - loss: 2.8140
Epoch 18/500
1/1 [==============================] - 0s 995us/step - loss: 2.5205
Epoch 19/500
1/1 [==============================] - 0s 999us/step - loss: 2.2834
Epoch 20/500
1/1 [==============================] - 0s 997us/step - loss: 2.0906
Epoch 21/500
1/1 [==============================] - 0s 1000us/step - loss: 1.9329
Epoch 22/500
1/1 [==============================] - 0s 997us/step - loss: 1.8030
Epoch 23/500
1/1 [==============================] - 0s 0s/step - loss: 1.6949
Epoch 24/500
1/1 [==============================] - 0s 998us/step - loss: 1.6042
Epoch 25/500
1/1 [==============================] - 0s 997us/step - loss: 1.5273
Epoch 26/500
1/1 [==============================] - 0s 998us/step - loss: 1.4613
Epoch 27/500
1/1 [==============================] - 0s 0s/step - loss: 1.4041
Epoch 28/500
1/1 [==============================] - 0s 999us/step - loss: 1.3538
Epoch 29/500
1/1 [==============================] - 0s 2ms/step - loss: 1.3092
Epoch 30/500
1/1 [==============================] - 0s 0s/step - loss: 1.2690
Epoch 31/500
1/1 [==============================] - 0s 1000us/step - loss: 1.2326
Epoch 32/500
1/1 [==============================] - 0s 998us/step - loss: 1.1990
Epoch 33/500
1/1 [==============================] - 0s 997us/step - loss: 1.1680
Epoch 34/500
1/1 [==============================] - 0s 0s/step - loss: 1.1389
Epoch 35/500
1/1 [==============================] - 0s 997us/step - loss: 1.1115
Epoch 36/500
1/1 [==============================] - 0s 3ms/step - loss: 1.0855
Epoch 37/500
1/1 [==============================] - 0s 993us/step - loss: 1.0608
Epoch 38/500
1/1 [==============================] - 0s 994us/step - loss: 1.0370
Epoch 39/500
1/1 [==============================] - 0s 998us/step - loss: 1.0142
Epoch 40/500
1/1 [==============================] - 0s 997us/step - loss: 0.9922
Epoch 41/500
1/1 [==============================] - 0s 997us/step - loss: 0.9708
Epoch 42/500
1/1 [==============================] - 0s 999us/step - loss: 0.9501
Epoch 43/500
1/1 [==============================] - 0s 0s/step - loss: 0.9300
Epoch 44/500
1/1 [==============================] - 0s 0s/step - loss: 0.9105
Epoch 45/500
1/1 [==============================] - 0s 998us/step - loss: 0.8914
Epoch 46/500
1/1 [==============================] - 0s 983us/step - loss: 0.8728
Epoch 47/500
1/1 [==============================] - 0s 976us/step - loss: 0.8547
Epoch 48/500
1/1 [==============================] - 0s 997us/step - loss: 0.8369
Epoch 49/500
1/1 [==============================] - 0s 999us/step - loss: 0.8196
Epoch 50/500
1/1 [==============================] - 0s 985us/step - loss: 0.8027
Epoch 51/500
1/1 [==============================] - 0s 1ms/step - loss: 0.7861
Epoch 52/500
1/1 [==============================] - 0s 0s/step - loss: 0.7699
Epoch 53/500
1/1 [==============================] - 0s 997us/step - loss: 0.7540
Epoch 54/500
1/1 [==============================] - 0s 997us/step - loss: 0.7385
Epoch 55/500
1/1 [==============================] - 0s 996us/step - loss: 0.7233
Epoch 56/500
1/1 [==============================] - 0s 0s/step - loss: 0.7084
Epoch 57/500
1/1 [==============================] - 0s 0s/step - loss: 0.6938
Epoch 58/500
1/1 [==============================] - 0s 2ms/step - loss: 0.6795
Epoch 59/500
1/1 [==============================] - 0s 3ms/step - loss: 0.6656
Epoch 60/500
1/1 [==============================] - 0s 996us/step - loss: 0.6519
Epoch 61/500
1/1 [==============================] - 0s 997us/step - loss: 0.6385
Epoch 62/500
1/1 [==============================] - 0s 999us/step - loss: 0.6254
Epoch 63/500
1/1 [==============================] - 0s 998us/step - loss: 0.6125
Epoch 64/500
1/1 [==============================] - 0s 996us/step - loss: 0.5999
Epoch 65/500
1/1 [==============================] - 0s 996us/step - loss: 0.5876
Epoch 66/500
1/1 [==============================] - 0s 0s/step - loss: 0.5755
Epoch 67/500
1/1 [==============================] - 0s 998us/step - loss: 0.5637
Epoch 68/500
1/1 [==============================] - 0s 998us/step - loss: 0.5521
Epoch 69/500
1/1 [==============================] - 0s 2ms/step - loss: 0.5408
Epoch 70/500
1/1 [==============================] - 0s 999us/step - loss: 0.5297
Epoch 71/500
1/1 [==============================] - 0s 997us/step - loss: 0.5188
Epoch 72/500
1/1 [==============================] - 0s 0s/step - loss: 0.5081
Epoch 73/500
1/1 [==============================] - 0s 2ms/step - loss: 0.4977
Epoch 74/500
1/1 [==============================] - 0s 996us/step - loss: 0.4875
Epoch 75/500
1/1 [==============================] - 0s 997us/step - loss: 0.4775
Epoch 76/500
1/1 [==============================] - 0s 0s/step - loss: 0.4677
Epoch 77/500
1/1 [==============================] - 0s 997us/step - loss: 0.4581
Epoch 78/500
1/1 [==============================] - 0s 996us/step - loss: 0.4486
Epoch 79/500
1/1 [==============================] - 0s 996us/step - loss: 0.4394
Epoch 80/500
1/1 [==============================] - 0s 996us/step - loss: 0.4304
Epoch 81/500
1/1 [==============================] - 0s 995us/step - loss: 0.4216
Epoch 82/500
1/1 [==============================] - 0s 2ms/step - loss: 0.4129
Epoch 83/500
1/1 [==============================] - 0s 998us/step - loss: 0.4044
Epoch 84/500
1/1 [==============================] - 0s 1ms/step - loss: 0.3961
Epoch 85/500
1/1 [==============================] - 0s 0s/step - loss: 0.3880
Epoch 86/500
1/1 [==============================] - 0s 2ms/step - loss: 0.3800
Epoch 87/500
1/1 [==============================] - 0s 2ms/step - loss: 0.3722
Epoch 88/500
1/1 [==============================] - 0s 997us/step - loss: 0.3646
Epoch 89/500
1/1 [==============================] - 0s 2ms/step - loss: 0.3571
Epoch 90/500
1/1 [==============================] - 0s 2ms/step - loss: 0.3497
Epoch 91/500
1/1 [==============================] - 0s 0s/step - loss: 0.3426
Epoch 92/500
1/1 [==============================] - 0s 0s/step - loss: 0.3355
Epoch 93/500
1/1 [==============================] - 0s 998us/step - loss: 0.3286
Epoch 94/500
1/1 [==============================] - 0s 3ms/step - loss: 0.3219
Epoch 95/500
1/1 [==============================] - 0s 2ms/step - loss: 0.3153
Epoch 96/500
1/1 [==============================] - 0s 996us/step - loss: 0.3088
Epoch 97/500
1/1 [==============================] - 0s 3ms/step - loss: 0.3024
Epoch 98/500
1/1 [==============================] - 0s 997us/step - loss: 0.2962
Epoch 99/500
1/1 [==============================] - 0s 998us/step - loss: 0.2901
Epoch 100/500
1/1 [==============================] - 0s 990us/step - loss: 0.2842
Epoch 101/500
1/1 [==============================] - 0s 996us/step - loss: 0.2784
Epoch 102/500
1/1 [==============================] - 0s 2ms/step - loss: 0.2726
Epoch 103/500
1/1 [==============================] - 0s 998us/step - loss: 0.2670
Epoch 104/500
1/1 [==============================] - 0s 994us/step - loss: 0.2615
Epoch 105/500
1/1 [==============================] - 0s 0s/step - loss: 0.2562
Epoch 106/500
1/1 [==============================] - 0s 997us/step - loss: 0.2509
Epoch 107/500
1/1 [==============================] - 0s 997us/step - loss: 0.2458
Epoch 108/500
1/1 [==============================] - 0s 997us/step - loss: 0.2407
Epoch 109/500
1/1 [==============================] - 0s 2ms/step - loss: 0.2358
Epoch 110/500
1/1 [==============================] - 0s 0s/step - loss: 0.2309
Epoch 111/500
1/1 [==============================] - 0s 0s/step - loss: 0.2262
Epoch 112/500
1/1 [==============================] - 0s 996us/step - loss: 0.2215
Epoch 113/500
1/1 [==============================] - 0s 997us/step - loss: 0.2170
Epoch 114/500
1/1 [==============================] - 0s 997us/step - loss: 0.2125
Epoch 115/500
1/1 [==============================] - 0s 0s/step - loss: 0.2082
Epoch 116/500
1/1 [==============================] - 0s 998us/step - loss: 0.2039
Epoch 117/500
1/1 [==============================] - 0s 998us/step - loss: 0.1997
Epoch 118/500
1/1 [==============================] - 0s 997us/step - loss: 0.1956
Epoch 119/500
1/1 [==============================] - 0s 2ms/step - loss: 0.1916
Epoch 120/500
1/1 [==============================] - 0s 998us/step - loss: 0.1876
Epoch 121/500
1/1 [==============================] - 0s 992us/step - loss: 0.1838
Epoch 122/500
1/1 [==============================] - 0s 0s/step - loss: 0.1800
Epoch 123/500
1/1 [==============================] - 0s 0s/step - loss: 0.1763
Epoch 124/500
1/1 [==============================] - 0s 998us/step - loss: 0.1727
Epoch 125/500
1/1 [==============================] - 0s 0s/step - loss: 0.1691
Epoch 126/500
1/1 [==============================] - 0s 997us/step - loss: 0.1657
Epoch 127/500
1/1 [==============================] - 0s 0s/step - loss: 0.1623
Epoch 128/500
1/1 [==============================] - 0s 999us/step - loss: 0.1589
Epoch 129/500
1/1 [==============================] - 0s 1ms/step - loss: 0.1557
Epoch 130/500
1/1 [==============================] - 0s 994us/step - loss: 0.1525
Epoch 131/500
1/1 [==============================] - 0s 0s/step - loss: 0.1493
Epoch 132/500
1/1 [==============================] - 0s 996us/step - loss: 0.1463
Epoch 133/500
1/1 [==============================] - 0s 997us/step - loss: 0.1433
Epoch 134/500
1/1 [==============================] - 0s 996us/step - loss: 0.1403
Epoch 135/500
1/1 [==============================] - 0s 998us/step - loss: 0.1374
Epoch 136/500
1/1 [==============================] - 0s 998us/step - loss: 0.1346
Epoch 137/500
1/1 [==============================] - 0s 1ms/step - loss: 0.1319
Epoch 138/500
1/1 [==============================] - 0s 999us/step - loss: 0.1291
Epoch 139/500
1/1 [==============================] - 0s 999us/step - loss: 0.1265
Epoch 140/500
1/1 [==============================] - 0s 997us/step - loss: 0.1239
Epoch 141/500
1/1 [==============================] - 0s 983us/step - loss: 0.1214
Epoch 142/500
1/1 [==============================] - 0s 1ms/step - loss: 0.1189
Epoch 143/500
1/1 [==============================] - 0s 997us/step - loss: 0.1164
Epoch 144/500
1/1 [==============================] - 0s 998us/step - loss: 0.1140
Epoch 145/500
1/1 [==============================] - 0s 998us/step - loss: 0.1117
Epoch 146/500
1/1 [==============================] - 0s 0s/step - loss: 0.1094
Epoch 147/500
1/1 [==============================] - 0s 998us/step - loss: 0.1071
Epoch 148/500
1/1 [==============================] - 0s 2ms/step - loss: 0.1049
Epoch 149/500
1/1 [==============================] - 0s 0s/step - loss: 0.1028
Epoch 150/500
1/1 [==============================] - 0s 998us/step - loss: 0.1007
Epoch 151/500
1/1 [==============================] - 0s 0s/step - loss: 0.0986
Epoch 152/500
1/1 [==============================] - 0s 0s/step - loss: 0.0966
Epoch 153/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0946
Epoch 154/500
1/1 [==============================] - 0s 999us/step - loss: 0.0927
Epoch 155/500
1/1 [==============================] - 0s 997us/step - loss: 0.0908
Epoch 156/500
1/1 [==============================] - 0s 0s/step - loss: 0.0889
Epoch 157/500
1/1 [==============================] - 0s 998us/step - loss: 0.0871
Epoch 158/500
1/1 [==============================] - 0s 996us/step - loss: 0.0853
Epoch 159/500
1/1 [==============================] - 0s 996us/step - loss: 0.0835
Epoch 160/500
1/1 [==============================] - 0s 996us/step - loss: 0.0818
Epoch 161/500
1/1 [==============================] - 0s 0s/step - loss: 0.0801
Epoch 162/500
1/1 [==============================] - 0s 998us/step - loss: 0.0785
Epoch 163/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0769
Epoch 164/500
1/1 [==============================] - 0s 998us/step - loss: 0.0753
Epoch 165/500
1/1 [==============================] - 0s 0s/step - loss: 0.0737
Epoch 166/500
1/1 [==============================] - 0s 998us/step - loss: 0.0722
Epoch 167/500
1/1 [==============================] - 0s 0s/step - loss: 0.0707
Epoch 168/500
1/1 [==============================] - 0s 0s/step - loss: 0.0693
Epoch 169/500
1/1 [==============================] - 0s 998us/step - loss: 0.0679
Epoch 170/500
1/1 [==============================] - 0s 997us/step - loss: 0.0665
Epoch 171/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0651
Epoch 172/500
1/1 [==============================] - 0s 998us/step - loss: 0.0638
Epoch 173/500
1/1 [==============================] - 0s 996us/step - loss: 0.0625
Epoch 174/500
1/1 [==============================] - 0s 996us/step - loss: 0.0612
Epoch 175/500
1/1 [==============================] - 0s 995us/step - loss: 0.0599
Epoch 176/500
1/1 [==============================] - 0s 997us/step - loss: 0.0587
Epoch 177/500
1/1 [==============================] - 0s 998us/step - loss: 0.0575
Epoch 178/500
1/1 [==============================] - 0s 990us/step - loss: 0.0563
Epoch 179/500
1/1 [==============================] - 0s 998us/step - loss: 0.0551
Epoch 180/500
1/1 [==============================] - 0s 997us/step - loss: 0.0540
Epoch 181/500
1/1 [==============================] - 0s 0s/step - loss: 0.0529
Epoch 182/500
1/1 [==============================] - 0s 996us/step - loss: 0.0518
Epoch 183/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0508
Epoch 184/500
1/1 [==============================] - 0s 997us/step - loss: 0.0497
Epoch 185/500
1/1 [==============================] - 0s 997us/step - loss: 0.0487
Epoch 186/500
1/1 [==============================] - 0s 994us/step - loss: 0.0477
Epoch 187/500
1/1 [==============================] - 0s 0s/step - loss: 0.0467
Epoch 188/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0458
Epoch 189/500
1/1 [==============================] - 0s 998us/step - loss: 0.0448
Epoch 190/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0439
Epoch 191/500
1/1 [==============================] - 0s 993us/step - loss: 0.0430
Epoch 192/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0421
Epoch 193/500
1/1 [==============================] - 0s 997us/step - loss: 0.0412
Epoch 194/500
1/1 [==============================] - 0s 997us/step - loss: 0.0404
Epoch 195/500
1/1 [==============================] - 0s 998us/step - loss: 0.0396
Epoch 196/500
1/1 [==============================] - 0s 0s/step - loss: 0.0388
Epoch 197/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0380
Epoch 198/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0372
Epoch 199/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0364
Epoch 200/500
1/1 [==============================] - 0s 995us/step - loss: 0.0357
Epoch 201/500
1/1 [==============================] - 0s 998us/step - loss: 0.0349
Epoch 202/500
1/1 [==============================] - 0s 0s/step - loss: 0.0342
Epoch 203/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0335
Epoch 204/500

1/1 [==============================] - 0s 0s/step - loss: 0.0328
Epoch 205/500
1/1 [==============================] - 0s 998us/step - loss: 0.0322
Epoch 206/500
1/1 [==============================] - 0s 0s/step - loss: 0.0315
Epoch 207/500
1/1 [==============================] - 0s 997us/step - loss: 0.0308
Epoch 208/500
1/1 [==============================] - 0s 0s/step - loss: 0.0302
Epoch 209/500
1/1 [==============================] - 0s 994us/step - loss: 0.0296
Epoch 210/500
1/1 [==============================] - 0s 999us/step - loss: 0.0290
Epoch 211/500
1/1 [==============================] - 0s 997us/step - loss: 0.0284
Epoch 212/500
1/1 [==============================] - 0s 996us/step - loss: 0.0278
Epoch 213/500
1/1 [==============================] - 0s 997us/step - loss: 0.0272
Epoch 214/500
1/1 [==============================] - 0s 996us/step - loss: 0.0267
Epoch 215/500
1/1 [==============================] - 0s 999us/step - loss: 0.0261
Epoch 216/500
1/1 [==============================] - 0s 999us/step - loss: 0.0256
Epoch 217/500
1/1 [==============================] - 0s 998us/step - loss: 0.0251
Epoch 218/500
1/1 [==============================] - 0s 0s/step - loss: 0.0245
Epoch 219/500
1/1 [==============================] - 0s 0s/step - loss: 0.0240
Epoch 220/500
1/1 [==============================] - 0s 997us/step - loss: 0.0235
Epoch 221/500
1/1 [==============================] - 0s 996us/step - loss: 0.0231
Epoch 222/500
1/1 [==============================] - 0s 996us/step - loss: 0.0226
Epoch 223/500
1/1 [==============================] - 0s 997us/step - loss: 0.0221
Epoch 224/500
1/1 [==============================] - 0s 0s/step - loss: 0.0217
Epoch 225/500
1/1 [==============================] - 0s 995us/step - loss: 0.0212
Epoch 226/500
1/1 [==============================] - 0s 0s/step - loss: 0.0208
Epoch 227/500
1/1 [==============================] - 0s 996us/step - loss: 0.0204
Epoch 228/500
1/1 [==============================] - 0s 997us/step - loss: 0.0199
Epoch 229/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0195
Epoch 230/500
1/1 [==============================] - 0s 997us/step - loss: 0.0191
Epoch 231/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0187
Epoch 232/500
1/1 [==============================] - 0s 0s/step - loss: 0.0184
Epoch 233/500
1/1 [==============================] - 0s 998us/step - loss: 0.0180
Epoch 234/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0176
Epoch 235/500
1/1 [==============================] - 0s 998us/step - loss: 0.0172
Epoch 236/500
1/1 [==============================] - 0s 998us/step - loss: 0.0169
Epoch 237/500
1/1 [==============================] - 0s 996us/step - loss: 0.0165
Epoch 238/500
1/1 [==============================] - 0s 0s/step - loss: 0.0162
Epoch 239/500
1/1 [==============================] - 0s 0s/step - loss: 0.0159
Epoch 240/500
1/1 [==============================] - 0s 995us/step - loss: 0.0155
Epoch 241/500
1/1 [==============================] - 0s 995us/step - loss: 0.0152
Epoch 242/500
1/1 [==============================] - 0s 998us/step - loss: 0.0149
Epoch 243/500
1/1 [==============================] - 0s 997us/step - loss: 0.0146
Epoch 244/500
1/1 [==============================] - 0s 0s/step - loss: 0.0143
Epoch 245/500
1/1 [==============================] - 0s 992us/step - loss: 0.0140
Epoch 246/500
1/1 [==============================] - 0s 998us/step - loss: 0.0137
Epoch 247/500
1/1 [==============================] - 0s 997us/step - loss: 0.0134
Epoch 248/500
1/1 [==============================] - 0s 997us/step - loss: 0.0132
Epoch 249/500
1/1 [==============================] - 0s 997us/step - loss: 0.0129
Epoch 250/500
1/1 [==============================] - 0s 997us/step - loss: 0.0126
Epoch 251/500
1/1 [==============================] - 0s 1000us/step - loss: 0.0124
Epoch 252/500
1/1 [==============================] - 0s 997us/step - loss: 0.0121
Epoch 253/500
1/1 [==============================] - 0s 0s/step - loss: 0.0119
Epoch 254/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0116
Epoch 255/500
1/1 [==============================] - 0s 997us/step - loss: 0.0114
Epoch 256/500
1/1 [==============================] - 0s 997us/step - loss: 0.0112
Epoch 257/500
1/1 [==============================] - 0s 997us/step - loss: 0.0109
Epoch 258/500
1/1 [==============================] - 0s 998us/step - loss: 0.0107
Epoch 259/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0105
Epoch 260/500
1/1 [==============================] - 0s 995us/step - loss: 0.0103
Epoch 261/500
1/1 [==============================] - 0s 997us/step - loss: 0.0101
Epoch 262/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0098
Epoch 263/500
1/1 [==============================] - 0s 999us/step - loss: 0.0096
Epoch 264/500
1/1 [==============================] - 0s 998us/step - loss: 0.0094
Epoch 265/500
1/1 [==============================] - 0s 998us/step - loss: 0.0093
Epoch 266/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0091
Epoch 267/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0089
Epoch 268/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0087
Epoch 269/500
1/1 [==============================] - 0s 997us/step - loss: 0.0085
Epoch 270/500
1/1 [==============================] - 0s 992us/step - loss: 0.0083
Epoch 271/500
1/1 [==============================] - 0s 998us/step - loss: 0.0082
Epoch 272/500
1/1 [==============================] - 0s 997us/step - loss: 0.0080
Epoch 273/500
1/1 [==============================] - 0s 998us/step - loss: 0.0078
Epoch 274/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0077
Epoch 275/500
1/1 [==============================] - 0s 0s/step - loss: 0.0075
Epoch 276/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0074
Epoch 277/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0072
Epoch 278/500
1/1 [==============================] - 0s 998us/step - loss: 0.0071
Epoch 279/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0069
Epoch 280/500
1/1 [==============================] - 0s 997us/step - loss: 0.0068
Epoch 281/500
1/1 [==============================] - 0s 995us/step - loss: 0.0066
Epoch 282/500
1/1 [==============================] - 0s 992us/step - loss: 0.0065
Epoch 283/500
1/1 [==============================] - 0s 996us/step - loss: 0.0064
Epoch 284/500
1/1 [==============================] - 0s 998us/step - loss: 0.0062
Epoch 285/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0061
Epoch 286/500
1/1 [==============================] - 0s 997us/step - loss: 0.0060
Epoch 287/500
1/1 [==============================] - 0s 997us/step - loss: 0.0059
Epoch 288/500
1/1 [==============================] - 0s 996us/step - loss: 0.0057
Epoch 289/500
1/1 [==============================] - 0s 0s/step - loss: 0.0056
Epoch 290/500
1/1 [==============================] - 0s 997us/step - loss: 0.0055
Epoch 291/500
1/1 [==============================] - 0s 996us/step - loss: 0.0054
Epoch 292/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0053
Epoch 293/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0052
Epoch 294/500
1/1 [==============================] - 0s 997us/step - loss: 0.0051
Epoch 295/500
1/1 [==============================] - 0s 0s/step - loss: 0.0050
Epoch 296/500
1/1 [==============================] - 0s 0s/step - loss: 0.0049
Epoch 297/500
1/1 [==============================] - 0s 997us/step - loss: 0.0048
Epoch 298/500
1/1 [==============================] - 0s 996us/step - loss: 0.0047
Epoch 299/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0046
Epoch 300/500
1/1 [==============================] - 0s 996us/step - loss: 0.0045
Epoch 301/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0044
Epoch 302/500
1/1 [==============================] - 0s 997us/step - loss: 0.0043
Epoch 303/500
1/1 [==============================] - 0s 997us/step - loss: 0.0042
Epoch 304/500
1/1 [==============================] - 0s 0s/step - loss: 0.0041
Epoch 305/500

1/1 [==============================] - 0s 997us/step - loss: 0.0040
Epoch 306/500
1/1 [==============================] - 0s 996us/step - loss: 0.0040
Epoch 307/500
1/1 [==============================] - 0s 998us/step - loss: 0.0039
Epoch 308/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0038
Epoch 309/500
1/1 [==============================] - 0s 998us/step - loss: 0.0037
Epoch 310/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0036
Epoch 311/500
1/1 [==============================] - 0s 998us/step - loss: 0.0036
Epoch 312/500
1/1 [==============================] - 0s 998us/step - loss: 0.0035
Epoch 313/500
1/1 [==============================] - 0s 996us/step - loss: 0.0034
Epoch 314/500
1/1 [==============================] - 0s 0s/step - loss: 0.0033
Epoch 315/500
1/1 [==============================] - 0s 985us/step - loss: 0.0033
Epoch 316/500
1/1 [==============================] - 0s 0s/step - loss: 0.0032
Epoch 317/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0031
Epoch 318/500
1/1 [==============================] - 0s 999us/step - loss: 0.0031
Epoch 319/500
1/1 [==============================] - 0s 998us/step - loss: 0.0030
Epoch 320/500
1/1 [==============================] - 0s 0s/step - loss: 0.0030
Epoch 321/500
1/1 [==============================] - 0s 0s/step - loss: 0.0029
Epoch 322/500
1/1 [==============================] - 0s 998us/step - loss: 0.0028
Epoch 323/500
1/1 [==============================] - 0s 996us/step - loss: 0.0028
Epoch 324/500
1/1 [==============================] - 0s 0s/step - loss: 0.0027
Epoch 325/500
1/1 [==============================] - 0s 6ms/step - loss: 0.0027
Epoch 326/500
1/1 [==============================] - 0s 3ms/step - loss: 0.0026
Epoch 327/500
1/1 [==============================] - 0s 998us/step - loss: 0.0026
Epoch 328/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0025
Epoch 329/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0025
Epoch 330/500
1/1 [==============================] - 0s 0s/step - loss: 0.0024
Epoch 331/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0024
Epoch 332/500
1/1 [==============================] - 0s 0s/step - loss: 0.0023
Epoch 333/500
1/1 [==============================] - 0s 0s/step - loss: 0.0023
Epoch 334/500
1/1 [==============================] - 0s 997us/step - loss: 0.0022
Epoch 335/500
1/1 [==============================] - 0s 997us/step - loss: 0.0022
Epoch 336/500
1/1 [==============================] - 0s 997us/step - loss: 0.0021
Epoch 337/500
1/1 [==============================] - 0s 0s/step - loss: 0.0021
Epoch 338/500
1/1 [==============================] - 0s 0s/step - loss: 0.0020
Epoch 339/500
1/1 [==============================] - 0s 998us/step - loss: 0.0020
Epoch 340/500
1/1 [==============================] - 0s 0s/step - loss: 0.0020
Epoch 341/500
1/1 [==============================] - 0s 999us/step - loss: 0.0019
Epoch 342/500
1/1 [==============================] - 0s 995us/step - loss: 0.0019
Epoch 343/500
1/1 [==============================] - 0s 0s/step - loss: 0.0018
Epoch 344/500
1/1 [==============================] - 0s 997us/step - loss: 0.0018
Epoch 345/500
1/1 [==============================] - 0s 998us/step - loss: 0.0018
Epoch 346/500
1/1 [==============================] - 0s 998us/step - loss: 0.0017
Epoch 347/500
1/1 [==============================] - 0s 998us/step - loss: 0.0017
Epoch 348/500
1/1 [==============================] - 0s 998us/step - loss: 0.0017
Epoch 349/500
1/1 [==============================] - 0s 997us/step - loss: 0.0016
Epoch 350/500
1/1 [==============================] - 0s 997us/step - loss: 0.0016
Epoch 351/500
1/1 [==============================] - 0s 0s/step - loss: 0.0016
Epoch 352/500
1/1 [==============================] - 0s 997us/step - loss: 0.0015
Epoch 353/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0015
Epoch 354/500
1/1 [==============================] - 0s 0s/step - loss: 0.0015
Epoch 355/500
1/1 [==============================] - 0s 996us/step - loss: 0.0014
Epoch 356/500
1/1 [==============================] - 0s 992us/step - loss: 0.0014
Epoch 357/500
1/1 [==============================] - 0s 991us/step - loss: 0.0014
Epoch 358/500
1/1 [==============================] - 0s 1ms/step - loss: 0.0013
Epoch 359/500
1/1 [==============================] - 0s 995us/step - loss: 0.0013
Epoch 360/500
1/1 [==============================] - 0s 997us/step - loss: 0.0013
Epoch 361/500
1/1 [==============================] - 0s 0s/step - loss: 0.0013
Epoch 362/500
1/1 [==============================] - 0s 998us/step - loss: 0.0012
Epoch 363/500
1/1 [==============================] - 0s 0s/step - loss: 0.0012
Epoch 364/500
1/1 [==============================] - 0s 995us/step - loss: 0.0012
Epoch 365/500
1/1 [==============================] - 0s 1000us/step - loss: 0.0012
Epoch 366/500
1/1 [==============================] - 0s 997us/step - loss: 0.0011
Epoch 367/500
1/1 [==============================] - 0s 0s/step - loss: 0.0011
Epoch 368/500
1/1 [==============================] - 0s 997us/step - loss: 0.0011
Epoch 369/500
1/1 [==============================] - 0s 2ms/step - loss: 0.0011
Epoch 370/500
1/1 [==============================] - 0s 998us/step - loss: 0.0010
Epoch 371/500
1/1 [==============================] - 0s 998us/step - loss: 0.0010
Epoch 372/500
1/1 [==============================] - 0s 996us/step - loss: 0.0010
Epoch 373/500
1/1 [==============================] - 0s 0s/step - loss: 9.8379e-04
Epoch 374/500
1/1 [==============================] - 0s 997us/step - loss: 9.6358e-04
Epoch 375/500
1/1 [==============================] - 0s 998us/step - loss: 9.4379e-04
Epoch 376/500
1/1 [==============================] - 0s 0s/step - loss: 9.2440e-04
Epoch 377/500
1/1 [==============================] - 0s 2ms/step - loss: 9.0541e-04
Epoch 378/500
1/1 [==============================] - 0s 2ms/step - loss: 8.8681e-04
Epoch 379/500
1/1 [==============================] - 0s 997us/step - loss: 8.6860e-04
Epoch 380/500
1/1 [==============================] - 0s 1000us/step - loss: 8.5076e-04
Epoch 381/500
1/1 [==============================] - 0s 998us/step - loss: 8.3328e-04
Epoch 382/500
1/1 [==============================] - 0s 998us/step - loss: 8.1617e-04
Epoch 383/500
1/1 [==============================] - 0s 998us/step - loss: 7.9940e-04
Epoch 384/500
1/1 [==============================] - 0s 998us/step - loss: 7.8298e-04
Epoch 385/500
1/1 [==============================] - 0s 2ms/step - loss: 7.6690e-04
Epoch 386/500
1/1 [==============================] - 0s 998us/step - loss: 7.5114e-04
Epoch 387/500
1/1 [==============================] - 0s 2ms/step - loss: 7.3571e-04
Epoch 388/500
1/1 [==============================] - 0s 999us/step - loss: 7.2060e-04
Epoch 389/500
1/1 [==============================] - 0s 997us/step - loss: 7.0580e-04
Epoch 390/500
1/1 [==============================] - 0s 0s/step - loss: 6.9131e-04
Epoch 391/500
1/1 [==============================] - 0s 997us/step - loss: 6.7710e-04
Epoch 392/500
1/1 [==============================] - 0s 994us/step - loss: 6.6320e-04
Epoch 393/500
1/1 [==============================] - 0s 998us/step - loss: 6.4958e-04
Epoch 394/500
1/1 [==============================] - 0s 0s/step - loss: 6.3623e-04
Epoch 395/500
1/1 [==============================] - 0s 1ms/step - loss: 6.2316e-04
Epoch 396/500
1/1 [==============================] - 0s 997us/step - loss: 6.1036e-04
Epoch 397/500
1/1 [==============================] - 0s 2ms/step - loss: 5.9783e-04
Epoch 398/500
1/1 [==============================] - 0s 998us/step - loss: 5.8555e-04
Epoch 399/500
1/1 [==============================] - 0s 0s/step - loss: 5.7352e-04
Epoch 400/500
1/1 [==============================] - 0s 0s/step - loss: 5.6174e-04
Epoch 401/500
1/1 [==============================] - 0s 998us/step - loss: 5.5020e-04
Epoch 402/500
1/1 [==============================] - 0s 0s/step - loss: 5.3890e-04
Epoch 403/500
1/1 [==============================] - 0s 997us/step - loss: 5.2783e-04
Epoch 404/500
1/1 [==============================] - 0s 0s/step - loss: 5.1699e-04
Epoch 405/500
1/1 [==============================] - 0s 2ms/step - loss: 5.0637e-04
Epoch 406/500
1/1 [==============================] - 0s 987us/step - loss: 4.9597e-04
Epoch 407/500
1/1 [==============================] - 0s 998us/step - loss: 4.8578e-04
Epoch 408/500
1/1 [==============================] - 0s 2ms/step - loss: 4.7580e-04
Epoch 409/500
1/1 [==============================] - 0s 1ms/step - loss: 4.6602e-04
Epoch 410/500
1/1 [==============================] - 0s 992us/step - loss: 4.5645e-04
Epoch 411/500
1/1 [==============================] - 0s 0s/step - loss: 4.4707e-04
Epoch 412/500
1/1 [==============================] - 0s 0s/step - loss: 4.3789e-04
Epoch 413/500
1/1 [==============================] - 0s 997us/step - loss: 4.2890e-04
Epoch 414/500
1/1 [==============================] - 0s 996us/step - loss: 4.2009e-04
Epoch 415/500
1/1 [==============================] - 0s 1ms/step - loss: 4.1146e-04
Epoch 416/500
1/1 [==============================] - 0s 997us/step - loss: 4.0301e-04
Epoch 417/500
1/1 [==============================] - 0s 0s/step - loss: 3.9473e-04
Epoch 418/500
1/1 [==============================] - 0s 1ms/step - loss: 3.8662e-04
Epoch 419/500
1/1 [==============================] - 0s 0s/step - loss: 3.7868e-04
Epoch 420/500
1/1 [==============================] - 0s 997us/step - loss: 3.7090e-04
Epoch 421/500
1/1 [==============================] - 0s 0s/step - loss: 3.6328e-04
Epoch 422/500
1/1 [==============================] - 0s 996us/step - loss: 3.5582e-04
Epoch 423/500
1/1 [==============================] - 0s 0s/step - loss: 3.4851e-04
Epoch 424/500
1/1 [==============================] - 0s 0s/step - loss: 3.4135e-04
Epoch 425/500
1/1 [==============================] - 0s 0s/step - loss: 3.3434e-04
Epoch 426/500
1/1 [==============================] - 0s 0s/step - loss: 3.2747e-04
Epoch 427/500
1/1 [==============================] - 0s 999us/step - loss: 3.2075e-04
Epoch 428/500
1/1 [==============================] - 0s 0s/step - loss: 3.1416e-04
Epoch 429/500
1/1 [==============================] - 0s 998us/step - loss: 3.0771e-04
Epoch 430/500
1/1 [==============================] - 0s 1ms/step - loss: 3.0138e-04
Epoch 431/500
1/1 [==============================] - 0s 998us/step - loss: 2.9519e-04
Epoch 432/500
1/1 [==============================] - 0s 998us/step - loss: 2.8913e-04
Epoch 433/500
1/1 [==============================] - 0s 997us/step - loss: 2.8319e-04
Epoch 434/500
1/1 [==============================] - 0s 0s/step - loss: 2.7737e-04
Epoch 435/500
1/1 [==============================] - 0s 0s/step - loss: 2.7168e-04
Epoch 436/500
1/1 [==============================] - 0s 997us/step - loss: 2.6609e-04
Epoch 437/500
1/1 [==============================] - 0s 998us/step - loss: 2.6063e-04
Epoch 438/500
1/1 [==============================] - 0s 995us/step - loss: 2.5528e-04
Epoch 439/500
1/1 [==============================] - 0s 997us/step - loss: 2.5003e-04
Epoch 440/500
1/1 [==============================] - 0s 998us/step - loss: 2.4490e-04
Epoch 441/500
1/1 [==============================] - 0s 997us/step - loss: 2.3987e-04
Epoch 442/500
1/1 [==============================] - 0s 997us/step - loss: 2.3494e-04
Epoch 443/500
1/1 [==============================] - 0s 0s/step - loss: 2.3011e-04
Epoch 444/500
1/1 [==============================] - 0s 998us/step - loss: 2.2539e-04
Epoch 445/500
1/1 [==============================] - 0s 997us/step - loss: 2.2076e-04
Epoch 446/500
1/1 [==============================] - 0s 998us/step - loss: 2.1623e-04
Epoch 447/500
1/1 [==============================] - 0s 996us/step - loss: 2.1178e-04
Epoch 448/500
1/1 [==============================] - 0s 985us/step - loss: 2.0743e-04
Epoch 449/500
1/1 [==============================] - 0s 997us/step - loss: 2.0317e-04
Epoch 450/500
1/1 [==============================] - 0s 997us/step - loss: 1.9900e-04
Epoch 451/500
1/1 [==============================] - 0s 995us/step - loss: 1.9491e-04
Epoch 452/500
1/1 [==============================] - 0s 0s/step - loss: 1.9091e-04
Epoch 453/500
1/1 [==============================] - 0s 998us/step - loss: 1.8699e-04
Epoch 454/500
1/1 [==============================] - 0s 989us/step - loss: 1.8315e-04
Epoch 455/500
1/1 [==============================] - 0s 999us/step - loss: 1.7938e-04
Epoch 456/500
1/1 [==============================] - 0s 997us/step - loss: 1.7570e-04
Epoch 457/500
1/1 [==============================] - 0s 0s/step - loss: 1.7209e-04
Epoch 458/500
1/1 [==============================] - 0s 997us/step - loss: 1.6856e-04
Epoch 459/500
1/1 [==============================] - 0s 998us/step - loss: 1.6509e-04
Epoch 460/500
1/1 [==============================] - 0s 998us/step - loss: 1.6170e-04
Epoch 461/500
1/1 [==============================] - 0s 0s/step - loss: 1.5838e-04
Epoch 462/500
1/1 [==============================] - 0s 997us/step - loss: 1.5513e-04
Epoch 463/500
1/1 [==============================] - 0s 999us/step - loss: 1.5194e-04
Epoch 464/500
1/1 [==============================] - 0s 998us/step - loss: 1.4882e-04
Epoch 465/500
1/1 [==============================] - 0s 997us/step - loss: 1.4576e-04
Epoch 466/500
1/1 [==============================] - 0s 997us/step - loss: 1.4277e-04
Epoch 467/500
1/1 [==============================] - 0s 2ms/step - loss: 1.3984e-04
Epoch 468/500
1/1 [==============================] - 0s 0s/step - loss: 1.3697e-04
Epoch 469/500
1/1 [==============================] - 0s 2ms/step - loss: 1.3415e-04
Epoch 470/500
1/1 [==============================] - 0s 998us/step - loss: 1.3140e-04
Epoch 471/500
1/1 [==============================] - 0s 997us/step - loss: 1.2870e-04
Epoch 472/500
1/1 [==============================] - 0s 1ms/step - loss: 1.2605e-04
Epoch 473/500
1/1 [==============================] - 0s 997us/step - loss: 1.2347e-04
Epoch 474/500
1/1 [==============================] - 0s 0s/step - loss: 1.2093e-04
Epoch 475/500
1/1 [==============================] - 0s 996us/step - loss: 1.1845e-04
Epoch 476/500
1/1 [==============================] - 0s 0s/step - loss: 1.1601e-04
Epoch 477/500
1/1 [==============================] - 0s 998us/step - loss: 1.1363e-04
Epoch 478/500
1/1 [==============================] - 0s 997us/step - loss: 1.1130e-04
Epoch 479/500
1/1 [==============================] - 0s 2ms/step - loss: 1.0901e-04
Epoch 480/500
1/1 [==============================] - 0s 997us/step - loss: 1.0677e-04
Epoch 481/500
1/1 [==============================] - 0s 0s/step - loss: 1.0458e-04
Epoch 482/500
1/1 [==============================] - 0s 1ms/step - loss: 1.0243e-04
Epoch 483/500
1/1 [==============================] - 0s 998us/step - loss: 1.0033e-04
Epoch 484/500
1/1 [==============================] - 0s 998us/step - loss: 9.8266e-05
Epoch 485/500
1/1 [==============================] - 0s 996us/step - loss: 9.6248e-05
Epoch 486/500
1/1 [==============================] - 0s 997us/step - loss: 9.4271e-05
Epoch 487/500
1/1 [==============================] - 0s 2ms/step - loss: 9.2334e-05
Epoch 488/500
1/1 [==============================] - 0s 997us/step - loss: 9.0437e-05
Epoch 489/500
1/1 [==============================] - 0s 2ms/step - loss: 8.8579e-05
Epoch 490/500
1/1 [==============================] - 0s 998us/step - loss: 8.6759e-05
Epoch 491/500
1/1 [==============================] - 0s 997us/step - loss: 8.4978e-05
Epoch 492/500
1/1 [==============================] - 0s 0s/step - loss: 8.3231e-05
Epoch 493/500
1/1 [==============================] - 0s 997us/step - loss: 8.1522e-05
Epoch 494/500
1/1 [==============================] - 0s 998us/step - loss: 7.9847e-05
Epoch 495/500
1/1 [==============================] - 0s 0s/step - loss: 7.8207e-05
Epoch 496/500
1/1 [==============================] - 0s 997us/step - loss: 7.6601e-05
Epoch 497/500
1/1 [==============================] - 0s 998us/step - loss: 7.5027e-05
Epoch 498/500
1/1 [==============================] - 0s 998us/step - loss: 7.3487e-05
Epoch 499/500
1/1 [==============================] - 0s 997us/step - loss: 7.1978e-05
Epoch 500/500

1/1 [==============================] - 0s 2ms/step - loss: 7.0499e-05

In [8]:
print(model.predict([10.0]))

[[18.975504]]

In [9]:
pro = ts.pro_api()

df = pro.index_basic(market='SSE')
df

,ts_code,name,market,publisher,category,base_date,base_point,list_date
0,000001.SH,上证指数,SSE,中证公司,综合指数,19901219,100.00,19910715
1,000002.SH,上证A指,SSE,中证公司,综合指数,19901219,100.00,19920221
2,000003.SH,上证B指,SSE,中证公司,综合指数,19920221,100.00,19920221
3,000004.SH,上证工业类指数,SSE,中证公司,综合指数,19930430,1358.78,19930503
4,000005.SH,上证商业类指数,SSE,中证公司,综合指数,19930430,1358.78,19930503
...,...,...,...,...,...,...,...,...
590,n50113.SH,沪质中高债3-5(利),SSE,上交所,债券指数,20081231,100.00,20170223
591,n50117.SH,上证绿色债(利),SSE,上交所,债券指数,20161230,100.00,20170619
592,n50118.SH,上证绿色公司债(利),SSE,上交所,债券指数,20161230,100.00,20170619
593,S812T.SH,S812T指数,SSE,中证公司,规模指数,20191231,1000.00,20200619
594,T00901.SH,小康指数(旧),SSE,中证公司,主题指数,20051230,1000.00,20060109

In [18]:
#获取深圳市场20200320各板块交易数据
df = pro.daily_info(trade_date='20210203', ts_code='SZ_A', exchange='SZ')
df

,trade_date,ts_code,ts_name,com_count,total_share,float_share,total_mv,float_mv,amount,vol,trans_count,pe,tr,exchange
0,20210203,SZ_A,深圳主板A股,459,8320.523744,98100.07263,7383.180953,88239.188258,1298.095179,111.871564,None,None,None,SZ

In [37]:
df = pro.index_daily(ts_code='399001.SZ', start_date='20210101', end_date='20210201')
df[df['change']>100]

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,399001.SZ,20210201,15024.2443,14841.7134,15036.3846,14797.4130,14821.9946,202.2497,1.3645,337066645.0,485262020.0
6,399001.SZ,20210122,15628.7304,15508.9378,15632.3340,15381.6033,15520.5980,108.1324,0.6967,396161439.0,628223686.1
7,399001.SZ,20210121,15520.5980,15251.6686,15608.3841,15251.6686,15223.3575,297.2405,1.9525,410627802.0,615802143.1
8,399001.SZ,20210120,15223.3575,15023.7377,15246.7773,14958.2191,15003.9850,219.3725,1.4621,340287544.0,518504526.2
10,399001.SZ,20210118,15269.2724,14980.5049,15309.7901,14898.8796,15031.7035,237.5689,1.5805,364069404.0,546464419.9
14,399001.SZ,20210112,15460.0321,15053.8722,15460.0321,15020.2604,15115.3802,344.6519,2.2801,386861601.0,604472560.4
17,399001.SZ,20210107,15356.4035,15178.3476,15356.4035,15101.6671,15187.6139,168.7896,1.1114,469284072.0,670794521.5
19,399001.SZ,20210105,15147.5693,14760.2525,15149.0965,14716.7892,14827.4686,320.1007,2.1588,458934763.0,698425783.0
20,399001.SZ,20210104,14827.4686,14516.1215,14859.0865,14486.2519,14470.6832,356.7854,2.4656,435497759.0,641014135.6

In [24]:
df = pro.shibor(start_date='20210101', end_date='20210206')
df

        date     on     1w     2w     1m     3m     6m     9m     1y
0   20210205  1.909  2.338  2.877  2.753  2.779  2.807  2.932  3.007
1   20210204  2.075  2.324  2.644  2.752  2.776  2.807  2.920  3.002
2   20210203  1.859  2.146  2.585  2.772  2.776  2.807  2.916  3.002
3   20210202  2.313  2.241  2.715  2.807  2.775  2.805  2.910  3.003
4   20210201  2.795  3.194  3.283  2.850  2.773  2.802  2.902  2.998
5   20210129  3.282  3.071  3.798  2.832  2.765  2.796  2.896  2.989
6   20210128  3.024  2.981  3.555  2.708  2.705  2.756  2.859  2.962
7   20210127  2.970  2.969  3.064  2.632  2.619  2.707  2.827  2.936
8   20210126  2.726  2.728  2.853  2.547  2.589  2.699  2.802  2.906
9   20210125  2.450  2.296  2.681  2.512  2.579  2.691  2.791  2.892
10  20210122  2.436  2.271  2.601  2.503  2.578  2.688  2.789  2.883
11  20210121  2.573  2.359  2.651  2.489  2.578  2.688  2.789  2.875
12  20210120  2.457  2.493  2.619  2.464  2.575  2.688  2.789  2.866
13  20210119  2.236  2.267  2.248  2.396  2.573  2.685  2.785  2.858
14  20210118  2.125  2.177  2.141  2.388  2.578  2.690  2.793  2.857
15  20210115  1.738  2.124  1.990  2.390  2.581  2.694  2.795  2.859
16  20210114  1.675  2.013  1.937  2.404  2.582  2.697  2.797  2.864
17  20210113  1.401  1.999  1.951  2.412  2.590  2.697  2.799  2.871
18  20210112  1.333  1.985  1.923  2.432  2.599  2.703  2.802  2.880
19  20210111  1.216  2.148  1.821  2.447  2.618  2.715  2.814  2.889
20  20210108  0.965  2.141  1.793  2.468  2.645  2.738  2.837  2.910
21  20210107  0.921  1.855  1.742  2.491  2.677  2.769  2.863  2.936
22  20210106  0.616  1.966  1.788  2.529  2.707  2.792  2.889  2.962
23  20210105  0.729  1.822  1.856  2.577  2.734  2.816  2.913  2.985
24  20210104  0.899  1.993  2.021  2.642  2.746  2.829  2.926  2.993

In [26]:
df = pro.top10_floatholders(ts_code='600016.SH', start_date='20170101', end_date='20171231')
df

      ts_code  ann_date  end_date           holder_name   hold_amount
0   600016.SH  20180330  20171231     安邦财产保险股份有限公司-传统产品  1.665226e+09
1   600016.SH  20180330  20171231  安邦人寿保险股份有限公司-稳健型投资组合  2.369417e+09
2   600016.SH  20180330  20171231          中国证券金融股份有限公司  1.734652e+09
3   600016.SH  20180330  20171231          中国泛海控股集团有限公司  1.682652e+09
4   600016.SH  20180330  20171231   安邦保险集团股份有限公司-传统保险产品  1.639345e+09
5   600016.SH  20180330  20171231           新希望六和投资有限公司  1.523606e+09
6   600016.SH  20180330  20171231          上海健特生命科技有限公司  1.149733e+09
7   600016.SH  20180330  20171231  安邦人寿保险股份有限公司-稳健型投资组合  2.369417e+09
8   600016.SH  20180330  20171231   华夏人寿保险股份有限公司-万能保险产品  1.146469e+09
9   600016.SH  20180330  20171231              中国船东互保协会  1.086917e+09
10  600016.SH  20171031  20170930  安邦人寿保险股份有限公司-稳健型投资组合  2.369417e+09
11  600016.SH  20171031  20170930          中国证券金融股份有限公司  1.820370e+09
12  600016.SH  20171031  20170930          中国泛海控股集团有限公司  1.682652e+09
13  600016.SH  20171031  20170930   安邦保险集团股份有限公司-传统保险产品  1.639345e+09
14  600016.SH  20171031  20170930           新希望六和投资有限公司  1.523606e+09
15  600016.SH  20171031  20170930          上海健特生命科技有限公司  1.149733e+09
16  600016.SH  20171031  20170930              中国船东互保协会  1.086917e+09
17  600016.SH  20171031  20170930            东方集团股份有限公司  1.066764e+09
18  600016.SH  20171031  20170930  安邦人寿保险股份有限公司-稳健型投资组合  2.369417e+09
19  600016.SH  20171031  20170930     安邦财产保险股份有限公司-传统产品  1.665226e+09
20  600016.SH  20170829  20170630     安邦财产保险股份有限公司-传统产品  1.665226e+09
21  600016.SH  20170829  20170630  安邦人寿保险股份有限公司-稳健型投资组合  2.369417e+09
22  600016.SH  20170829  20170630  安邦人寿保险股份有限公司-稳健型投资组合  2.369417e+09
23  600016.SH  20170829  20170630          中国证券金融股份有限公司  1.820370e+09
24  600016.SH  20170829  20170630          中国泛海控股集团有限公司  1.682652e+09
25  600016.SH  20170829  20170630   安邦保险集团股份有限公司-传统保险产品  1.639345e+09
26  600016.SH  20170829  20170630           新希望六和投资有限公司  1.523606e+09
27  600016.SH  20170829  20170630          上海健特生命科技有限公司  1.149733e+09
28  600016.SH  20170829  20170630              中国船东互保协会  1.086917e+09
29  600016.SH  20170829  20170630            东方集团股份有限公司  1.066764e+09
30  600016.SH  20170427  20170331     安邦财产保险股份有限公司-传统产品  1.665226e+09
31  600016.SH  20170427  20170331  安邦人寿保险股份有限公司-稳健型投资组合  2.369417e+09
32  600016.SH  20170427  20170331          中国泛海控股集团有限公司  1.682652e+09
33  600016.SH  20170427  20170331          中国证券金融股份有限公司  1.665557e+09
34  600016.SH  20170427  20170331   安邦保险集团股份有限公司-传统保险产品  1.639345e+09
35  600016.SH  20170427  20170331  安邦人寿保险股份有限公司-稳健型投资组合  2.369417e+09
36  600016.SH  20170427  20170331           新希望六和投资有限公司  1.523606e+09
37  600016.SH  20170427  20170331          上海健特生命科技有限公司  1.149733e+09
38  600016.SH  20170427  20170331              中国船东互保协会  1.086917e+09
39  600016.SH  20170427  20170331            东方集团股份有限公司  1.066764e+09

In [33]:
df = pro.stk_holdernumber(ts_code='600016.SH', start_date='20200101', end_date='20200201')
df = pro.stk_holdernumber(ts_code='300199.SZ', start_date='20200101', end_date='20200201')
df

Empty DataFrame
Columns: [ts_code, ann_date, end_date, holder_num]
Index: []

In [34]:
df = pro.stk_managers(ts_code='000001.SZ')
df

,ts_code,ann_date,name,gender,lev,title,edu,national,birthday,begin_date,end_date
0,000001.SZ,20190604,姚贵平,M,高管,副行长,本科,中国,1961,20180815,20190604
1,000001.SZ,20190604,姚贵平,M,董事会成员,执行董事,本科,中国,1961,20170629,20190604
2,000001.SZ,20190604,姚贵平,M,委员会成员,战略委员会委员,本科,中国,1961,20180129,20190604
3,000001.SZ,20190309,吴鹏,M,高管,副行长,博士,中国,1965,20110817,20190309
4,000001.SZ,20190307,孙永桢,F,监事,职工监事,硕士,中国,1968,20181025,None
...,...,...,...,...,...,...,...,...,...,...,...
277,000001.SZ,19941020,曾柯林,M,高管,副总经理,专科,中国,1938,19930505,19941020
278,000001.SZ,19940329,徐铁南,None,董事会成员,常务董事,None,None,None,199203,19950828
279,000001.SZ,19930505,刘自强,None,高管,总经理,None,None,None,199203,19930505
280,000001.SZ,19930505,刘自强,None,董事会成员,董事,None,None,None,199203,19930505
281,000001.SZ,19930226,罗显荣,None,董事会成员,董事长,None,None,None,199203,19941020

In [20]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

model = keras.Sequential(
    [
        layers.Dense(2, activation="relu", name="layer1"),
        layers.Dense(3, activation="relu", name="layer2"),
        layers.Dense(4, name="layer3"),
    ]
)
# Call model on a test input
x = tf.ones((3, 3))
y = model(x)

In [40]:
d = { 'Adam': 95, 'Lisa': 85, 'Bart': 59 }
for key in d:
    print(d[key])

95
85
59

In [5]:
a = round(0.0001, 3)
a

0.0

In [7]:
a = 0.0
b = 0.0
a == b

True

In [11]:
import pandas as pd
df = pd.DataFrame({"A" : [6, 2, 10, -5, 3],
                   "B" : [2, 5, 3, 2, 6],
                   "C" : [-5, 2, 1, 8, 2]})
df

    A  B  C
0   6  2 -5
1   2  5  2
2  10  3  1
3  -5  2  8
4   3  6  2

In [16]:
limits_dic = {"A" : 0, "B" : 2, "C" : 0}
query = ' & '.join(['{}>{}'.format(k, v) for k, v in limits_dic.items()])
query

'A>0 & B>2 & C>0'

In [17]:
query = ' & '.join([f'{k}>{v}' for k, v in limits_dic.items()])
query

'A>0 & B>2 & C>0'

In [19]:
temp = df.query(query)
temp

    A  B  C
1   2  5  2
2  10  3  1
4   3  6  2

In [66]:
df_stock = pd.DataFrame({'trade_date':['2010-01-01','2010-02-01','2010-03-01','2010-04-01','2010-05-01','2010-06-01'],
                    'vol':[4090,5000,4090,8500,6500,4000],
                   'ma25_slope':[0.04,0.05,0.004,0.15,0.25,0.01],
                   'ma60_slop':[0.070,0.080,0.090,0.0040,0.02,0.003]})

df_index = pd.DataFrame({'trade_date':['2010-01-01','2010-02-01','2010-03-01','2010-04-01','2010-05-01','2010-06-01'],
                    'vol':[409000,500000,40900,85000,650000,400000],
                   'ma25_slope':[-0.04,0.05,-0.004,0.15,0.25,0.01],
                   'ma60_slop':[0.070,0.080,-0.090,0.0040,-0.02,0.003]})
a = df_stock.query('vol>5000')
b = df_index.query('ma25_slope>0')
list(set(a['trade_date']).intersection(set(b['trade_date'])))

['2010-05-01', '2010-04-01']

In [25]:
column = ['height', 'age', 'gender']
equal = ['>', '>', '==']
condition = [4, 20, 'M']

In [34]:
query = ' & '.join(f'{i} {j} {repr(k)}' for i, j, k in zip(column, equal, condition))
df.query('height>=5&age>40')

  gender  height  age
1      M       5   80

In [27]:
idx1 = pd.Index([1, 2, 3, 4])
idx2 = pd.Index([3, 4, 5, 6])
idx1.intersection(idx2)

Int64Index([3, 4], dtype='int64')

In [22]:
a = []
b = {'I': ['vol>0','ma25_slope>0','ma60_slope>0'], 'E':[]}
# b = {}
# b['I'] = ['vol>0','ma25_slope>0','ma60_slope>0']
# a.append({'I': ['vol>0','ma25_slope>0','ma60_slope>0']})
c = ' & '.join(b['I'])
# b
# b
c

'vol>0 & ma25_slope>0 & ma60_slope>0'

In [31]:
b = {'I':'vol>0','ma25_slope>0'}
b

SyntaxError: invalid syntax (<ipython-input-31-a75e0461ec15>, line 1)

In [10]:
import ast
a = ast.literal_eval("{'E': [], 'I': ['ma25_slope >= 0.05241']}")
a

{'E': [], 'I': ['ma25_slope >= 0.05241']}

In [2]:
df = ts.pro_bar(ts_code='000688.SH', asset='I', adj=None, freq='D',
                                     start_date='20200101', end_date='20210101')
df

,ts_code,trade_date,close,open,high,low,pre_close,change,pct_chg,vol,amount
0,000688.SH,20201231,1393.0272,1370.4413,1394.7391,1368.4700,1362.9107,30.1165,2.2097,5460861.00,3.631690e+07
1,000688.SH,20201230,1362.9107,1336.7202,1367.7624,1335.2072,1337.4695,25.4412,1.9022,5200486.00,3.290416e+07
2,000688.SH,20201229,1337.4696,1338.2399,1353.0612,1336.0901,1339.0068,-1.5372,-0.1148,4819255.00,2.585788e+07
3,000688.SH,20201228,1339.0068,1345.2989,1349.3496,1335.2532,1349.7931,-10.7863,-0.7991,5208984.00,2.880487e+07
4,000688.SH,20201225,1349.7931,1348.4717,1357.6506,1340.7892,1348.0134,1.7797,0.1320,4981681.00,2.665084e+07
...,...,...,...,...,...,...,...,...,...,...,...
238,000688.SH,20200108,1051.1599,1035.8362,1059.4361,1034.5129,1043.0833,8.0766,0.7743,3207626.50,1.350658e+07
239,000688.SH,20200107,1043.0833,1025.6627,1043.0833,1019.8577,1027.2773,15.8060,1.5386,2675921.67,1.195377e+07
240,000688.SH,20200106,1027.2773,1019.9989,1040.1404,1019.9989,1024.4819,2.7954,0.2729,2663011.81,1.197895e+07
241,000688.SH,20200103,1024.4819,1021.6693,1029.0713,1018.6813,1019.7234,4.7585,0.4666,2160583.48,9.677367e+06
242,000688.SH,20200102,1019.7234,1005.6174,1019.9098,1005.6174,1000.0000,19.7234,1.9723,2193852.76,9.315105e+06

In [6]:

df = pro.cn_m(start_m='199001', end_m='202102')
df

,month,m0,m0_yoy,m0_mom,m1,m1_yoy,m1_mom,m2,m2_yoy,m2_mom
0,202101,89600.00,-3.90,6.29,625600.00,14.70,0.00,2213000.0,9.4,1.20
1,202012,84300.00,9.20,3.31,625600.00,8.60,1.13,2186800.0,10.1,0.68
2,202011,81600.00,10.30,0.74,618600.00,10.00,1.54,2172000.0,10.7,1.04
3,202010,81000.00,10.40,-1.70,609200.00,9.10,1.15,2149700.0,10.5,-0.67
4,202009,82400.00,11.10,3.00,602300.00,8.10,0.17,2164100.0,10.9,1.28
...,...,...,...,...,...,...,...,...,...,...
368,199005,2090.05,2.62,-1.86,5782.38,8.62,0.62,NaN,NaN,NaN
369,199004,2129.69,2.95,-1.16,5746.54,8.20,1.61,NaN,NaN,NaN
370,199003,2154.64,2.65,-5.80,5655.65,7.68,-0.10,NaN,NaN,NaN
371,199002,2287.20,1.42,-12.86,5661.44,6.10,-6.09,NaN,NaN,NaN
372,199001,2624.60,6.91,11.97,6028.46,7.51,3.40,NaN,NaN,NaN

In [9]:
df = pro.cn_cpi(start_m='201801', end_m='201903')
df

,month,nt_val,nt_yoy,nt_mom,nt_accu,town_val,town_yoy,town_mom,town_accu,cnt_val,cnt_yoy,cnt_mom,cnt_accu
0,201903,102.3,2.3,-0.4,101.8,102.3,2.3,-0.4,101.9,102.3,2.3,-0.3,101.8
1,201902,101.5,1.5,1.0,101.6,101.5,1.5,1.0,101.6,101.4,1.4,0.9,101.5
2,201901,101.7,1.7,0.5,101.7,101.8,1.8,0.5,101.8,101.7,1.7,0.4,101.7
3,201812,101.9,1.9,0.0,102.1,101.9,1.9,0.0,102.1,101.9,1.9,0.0,102.1
4,201811,102.2,2.2,-0.3,102.1,102.2,2.2,-0.4,102.1,102.2,2.2,-0.3,102.1
5,201810,102.5,2.5,0.2,102.1,102.5,2.5,0.2,102.1,102.6,2.6,0.2,102.1
6,201809,102.5,2.5,0.7,102.1,102.4,2.4,0.7,102.1,102.5,2.5,0.8,102.0
7,201808,102.3,2.3,0.7,102.0,102.3,2.3,0.6,102.0,102.3,2.3,0.8,102.0
8,201807,102.1,2.1,0.3,102.0,102.1,2.1,0.4,102.0,102.0,2.0,0.1,101.9
9,201806,101.9,1.9,-0.1,102.0,101.8,1.8,0.0,102.0,101.9,1.9,-0.1,101.9
10,201805,101.8,1.8,-0.2,102.0,101.8,1.8,-0.2,102.0,101.7,1.7,-0.1,101.9
11,201804,101.8,1.8,-0.2,102.1,101.8,1.8,-0.2,102.1,101.7,1.7,-0.3,101.9
12,201803,102.1,2.1,-1.1,102.1,102.1,2.1,-1.1,102.2,101.9,1.9,-1.2,102.0
13,201802,102.9,2.9,1.2,102.2,103.0,3.0,1.3,102.2,102.7,2.7,1.1,102.1
14,201801,101.5,1.5,0.6,101.5,101.5,1.5,0.6,101.5,101.5,1.5,0.6,101.5

In [10]:
df = pro.cn_gdp(start_q='2018Q1', end_q='2019Q3')
df

,quarter,gdp,gdp_yoy,pi,pi_yoy,si,si_yoy,ti,ti_yoy
0,2019Q3,712845.4,6.2,43005.0,2.9,276912.5,5.6,392927.9,7.0
1,2019Q2,460636.7,6.3,23207.0,3.0,179122.1,5.8,258307.5,7.0
2,2019Q1,218062.8,6.4,8769.4,2.7,81806.5,6.1,127486.9,7.0
3,2018Q4,900309.5,6.6,64734.0,3.5,366000.9,5.8,469574.6,7.6
4,2018Q3,646710.9,6.7,39799.8,3.4,261822.8,5.8,345088.2,7.7
5,2018Q2,417215.4,6.8,21576.2,3.2,168558.1,6.1,227081.1,7.6
6,2018Q1,197920.0,6.8,8574.4,3.2,77116.7,6.3,112229.0,7.5

In [12]:
df = pro.cn_ppi(start_m='201905', end_m='202005')
df

,month,ppi_yoy,ppi_mp_yoy,ppi_mp_qm_yoy,ppi_mp_rm_yoy,ppi_mp_p_yoy,ppi_cg_yoy,ppi_cg_f_yoy,ppi_cg_c_yoy,ppi_cg_adu_yoy,...,ppi_accu,ppi_mp_accu,ppi_mp_qm_accu,ppi_mp_rm_accu,ppi_mp_p_accu,ppi_cg_accu,ppi_cg_f_accu,ppi_cg_c_accu,ppi_cg_adu_accu,ppi_cg_dcg_accu
0,202005,-3.7,-5.1,-14.8,-9.9,-2.4,0.5,2.9,-0.6,-0.2,...,-1.7,-2.7,-5.0,-5.4,-1.5,1.1,4.3,-0.5,0.0,-1.9
1,202004,-3.1,-4.5,-11.6,-8.8,-2.2,0.9,3.7,-0.6,-0.1,...,-1.2,-2.1,-2.5,-4.3,-1.2,1.2,4.6,-0.4,0.0,-2.0
2,202003,-1.5,-2.4,-4.0,-5.2,-1.2,1.2,4.5,-0.5,0.1,...,-0.6,-1.3,0.6,-2.7,-0.9,1.3,4.9,-0.4,0.1,-2.0
3,202002,-0.4,-1.0,1.1,-2.2,-0.7,1.4,5.1,-0.3,0.1,...,-0.2,-0.7,2.9,-1.5,-0.7,1.4,5.1,-0.3,0.1,-2.1
4,202001,0.1,-0.4,4.7,-0.8,-0.6,1.3,5.1,-0.3,0.0,...,0.1,-0.4,4.7,-0.8,-0.6,1.3,5.1,-0.3,0.0,-2.3
5,201912,-0.5,-1.2,2.6,-2.6,-0.9,1.3,5.0,-0.1,0.1,...,-0.3,-0.8,2.4,-2.6,-0.3,0.9,2.7,1.1,0.4,-1.2
6,201911,-1.4,-2.5,-1.4,-5.0,-1.6,1.6,5.4,0.3,0.1,...,-0.3,-0.7,2.3,-2.6,-0.3,0.9,2.4,1.2,0.4,-1.1
7,201910,-1.6,-2.6,-1.9,-5.6,-1.5,1.4,4.4,0.6,0.4,...,-0.2,-0.5,2.7,-2.3,-0.1,0.8,2.1,1.3,0.5,-1.0
8,201909,-1.2,-2.0,0.6,-4.8,-1.2,1.1,3.3,0.9,0.8,...,0.0,-0.3,3.3,-2.0,0.0,0.8,1.9,1.4,0.5,-1.0
9,201908,-0.8,-1.3,2.8,-3.5,-0.8,0.7,2.6,0.9,0.6,...,0.1,-0.1,3.6,-1.6,0.2,0.7,1.7,1.5,0.4,-0.8
10,201907,-0.3,-0.7,3.2,-2.9,-0.2,0.8,2.0,1.3,0.8,...,0.2,0.1,3.8,-1.3,0.3,0.7,1.6,1.6,0.4,-0.7
11,201906,0.0,-0.3,4.5,-2.1,0.0,0.9,2.2,1.6,0.5,...,0.3,0.2,3.8,-1.1,0.4,0.7,1.5,1.6,0.3,-0.6
12,201905,0.6,0.6,6.1,-0.6,0.5,0.9,2.2,1.5,0.4,...,0.4,0.3,3.7,-0.9,0.5,0.7,1.4,1.6,0.3,-0.5

In [13]:
df = pro.shibor(start_date='20180101', end_date='20181101')
df

         date      on     1w     2w      1m      3m      6m      9m      1y
0    20181101  2.5470  2.673  2.691  2.6960  2.9760  3.2970  3.5040  3.5500
1    20181031  2.3700  2.715  2.730  2.6890  2.9630  3.2980  3.5040  3.5500
2    20181030  1.5660  2.598  2.640  2.6630  2.9570  3.2950  3.5010  3.5500
3    20181029  1.8520  2.609  2.651  2.6720  2.9580  3.2970  3.5020  3.5500
4    20181026  2.0670  2.618  2.650  2.6730  2.9520  3.2970  3.5020  3.5500
..        ...     ...    ...    ...     ...     ...     ...     ...     ...
203  20180108  2.4610  2.737  3.720  4.2886  4.6594  4.7052  4.6989  4.7200
204  20180105  2.4840  2.745  3.749  4.3756  4.6637  4.7118  4.6990  4.7249
205  20180104  2.5050  2.760  3.802  4.4760  4.6870  4.7380  4.7020  4.7286
206  20180103  2.5635  2.785  3.870  4.6220  4.7300  4.7830  4.7110  4.7360
207  20180102  2.6570  2.839  3.943  4.7430  4.8040  4.8310  4.7150  4.7470

[208 rows x 9 columns]

In [19]:
df = pro.shibor_lpr(start_date='20190101', end_date='20210130')
df

         date    1y
0    20191120  4.15
1    20191021  4.20
2    20190920  4.20
3    20190820  4.25
4    20190816  4.31
..        ...   ...
152  20190108  4.31
153  20190107  4.31
154  20190104  4.31
155  20190103  4.31
156  20190102  4.31

[157 rows x 2 columns]

In [27]:
df = pro.libor(curr_type='GBP', start_date='20180101', end_date='20181130')
df

,date,curr_type,on,1w,1m,2m,3m,6m,12m
0,20181130,GBP,0.68175,0.70763,0.73650,0.77275,0.89338,1.01188,1.14100
1,20181129,GBP,0.67663,0.70825,0.73250,0.77225,0.89819,1.00313,1.13819
2,20181128,GBP,0.68513,0.71088,0.73575,0.76850,0.89356,1.00356,1.13800
3,20181127,GBP,0.68125,0.71063,0.73563,0.76575,0.89175,1.00350,1.14038
4,20181126,GBP,0.67750,0.71088,0.73550,0.76550,0.89213,1.00338,1.14094
...,...,...,...,...,...,...,...,...,...
227,20180108,GBP,0.47370,0.48363,0.49131,0.50531,0.52081,0.57619,0.76256
228,20180105,GBP,0.47486,0.48138,0.48931,0.50144,0.52125,0.57438,0.76038
229,20180104,GBP,0.47266,0.47981,0.49394,0.50144,0.51750,0.57406,0.76256
230,20180103,GBP,0.47241,0.48094,0.49369,0.50156,0.51844,0.57725,0.76038
231,20180102,GBP,0.47241,0.48088,0.49681,0.50125,0.51906,0.57725,0.76788

In [8]:
df = pro.shibor_lpr(start_date='20200101', end_date='20200128')
df

Empty DataFrame
Columns: [date, 1y]
Index: []

In [10]:
df = ts.pro_bar(ts_code='300033.SZ', asset='E', freq='D',
                            start_date='20210223', end_date='20210223')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,300033.SZ,20210223,149.63,153.36,144.9,145.8,148.0,-2.2,-1.4865,72817.93,1083461.451